/**
 * Styles voor Baking&Co
 *
 *
 */

/* GENERAL */

/* ****** */

img {
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	color: #343148;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	margin: 0;
}

.menubar>.wrapper, footer .wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */

/* ***** */

header {
	background-color: #F7CAC9;
}

h1 {
	font-size: 45px;
}

a.logo {
	text-decoration: none;
}

img.logo {
	margin-right: 10px;
	width: 52px;
}

img.insta {
	width: 18px;
}

.menu a, a.logo {
	color: #fff;
}

.menu {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

.menubar {
	border-top: #343148 solid 2px;
	font-size: 14px;
	padding: 10px 40px;
}

.menubar .wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.menubar li {
	list-style-type: none;
}

.menubar li a {
	text-decoration: none;
	text-transform: uppercase;
}

.menu {
	align-items: center;
	display: flex;
	padding: 0;
}

.menulinks li a {
	padding: 10px 10px 8px 10px;
}

.menulinks li a:hover {
	background-color: #DEB5B5;
	padding: 10px 10px 8px 10px;
	transition: 1s;
}

.logotittel {
	align-items: center;
	display: flex;
	flex-direction: row;
}

/* FOOTER */

/* ***** */

footer {
	background: #343148;
	color: #fff;
}

footer p {
	border-top: solid 1px #797979;
	margin: 0;
	padding: 25px 40px 25px 0px;
	font-size: 16px;
}