/**
 * Styles voor Baking&Co
 *
 *
 */

/* GENERAL */

/* ****** */

img {
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	color: #343148;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	margin: 0;
}

.menubar>.wrapper, footer .wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */

/* ***** */

header {
	background-color: #f7cac9;
}

h1 {
	font-size: 45px;
	margin: 0px 0px 10px 0px;
}

a.logo {
	text-decoration: none;
}

img.logo {
	display: none;
}

img.insta {
	width: 20px;
}

nav {
	max-width: 600px;
}

.menu a, a.logo {
	color: #fff;
}

.menu {
	padding: 0;
	text-align: center;
}

.menubar {
	font-size: 14px;
	padding: 50px 60px;
}

.menubar .wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.menubar li {
	list-style-type: none;
	margin: 14px 0px;
}

.menubar li a {
	text-decoration: none;
	text-transform: uppercase;
}

.menulinks li a {
	padding: 5px;
}

.menulinks li a:hover {
	background-color: #deb5b5;
	padding: 5px;
	transition: 1s;
}

.logotittel {
	align-items: center;
	display: flex;
	flex-direction: row;
}

/* FOOTER */

/* ***** */

footer {
	background: #343148;
	color: #fff;
}

footer p {
	border-top: solid 1px #797979;
	margin: 0;
	padding: 25px 40px 25px 0px;
	font-size: 16px;
	text-align: center;
}

/* MEDIA */

/* **** */

@media (min-width: 550px) {
	h1 {
		font-size: 70px;
		margin: 0;
	}
	.menubar {
		font-size: 20px;
		padding: 50px 60px;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 70px;
		margin: 0;
	}
	.menubar .wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	img.logo {
		display: initial;
		margin-right: 10px;
		max-width: 65px;
	}
	.menu {
		display: flex;
		justify-content: space-between;
		text-decoration: none;
		align-items: center;
		display: flex;
		padding: 0;
	}
	.menubar li {
		list-style-type: none;
		margin: 0;
	}
	.menubar {
		font-size: 20px;
		padding: 50px 60px;
	}
	.menulinks li a {
		padding: 10px 10px 8px 10px;
	}
	.menulinks li a:hover {
		background-color: #deb5b5;
		padding: 10px 10px 8px 10px;
		transition: 1s;
	}
	footer p {
		text-align: start;
	}
}