/**
 * Styles voor Baking&Co
 *
 *
 */

/* SECTION + INSTAGRAMPOSTS*/

/* ********************** */
section, aside {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 45px;
	padding-top: 45px;
}
h2 {
	color: #343148;
	font-size: 35px;
	margin-top: 12px;
	margin-bottom: 20px;
}
aside>h2::after, aside>h2::before {
	content: " - ";
}
/* SECTION*/

/* ***** */
section {
	display: flex;
}
section > div {
	padding-left: 103px;
}
#gglmaps{
	padding-left: 37px;
}
address {
	display: flex;
	flex-direction: column;
	line-height: 1.7;
}
address a {
	text-decoration: none;
	color: #343148;
	font-style: normal;
}
span.material-icons {
	font-size: 17px;
	padding-right: 5px;
}

/* INSTAGRAMPOSTS */

/* ************** */
aside > h2{
	text-align: center;
}
.posts{
	display: flex;
	justify-content: space-around;
}