/**
 * Styles voor Baking&Co
 *
 *
 */

/* SWEETS */

/* ***** */

.slagzin {
	color: #797979;
	font-size: 35px;
}

.slagzin::after, .slagzin::before {
	content: " - ";
}

#sweets {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 45px;
}

.fig {
	display: flex;
}

figure {
	border: solid 2px;
	border: #00000012 solid 1px;
	padding: 20px 30px;
	margin-left: 8px;
	margin-right: 8px;
}

figure p a>img {
	max-width: 230px;
}

figcaption {
	color: #F7CAC9;
	border-radius: 0;
	font-size: 16px;
	text-align: center;
	transition: .3s;
}

figcaption a {
	background: #343148;
	color: #F7CAC9;
	padding: 12px 20px;
	text-decoration: none;
}

figcaption a:hover {
	color: #343148;
	background: #F7CAC9;
	border-radius: 0;
	font-size: 16px;
	margin-top: 5px;
	padding: 12px 20px;
	transition: .3s;
	text-decoration: none;
}

figure img {
	margin-bottom: 15px;
}

/* INFO*/

/* ***** */

.info {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}

#textwi>h2, #textwa>h2 {
	font-size: 35px;
}

.p1>p, .p2>p {
	color: #797979;
}

/* LETTTER */

/* ***** */

.letter {
	display: flex;
	background-color: #F7CAC9;
	justify-content: center;
}

.letter .wrapper li {
	list-style-type: square;
}

form p label {
	display: none;
}

#email {
	border-color: #00000012;
	border-radius: 0;
	padding: 6px 15px;
}

input:last-child {
	padding: 6px 15px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #F7CAC9;
	background: #343148;
	border-radius: 0;
	transition: .3s;
}

input:last-child:hover {
	padding: 6px 15px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #343148;
	background: #fff;
	border-radius: 0;
	border-color: #fff;
	transition: .3s;
}