html {
	background-color: #fff;
	background-image: url(../img/tile.png);
	font-size: 20px;
	font-weight: bold;
}

span {
	color: firebrick;
}

h1 {
	font-family: 'Ephesis', cursive;
}

mark {
	text-shadow: 2px 2px 15px #666;
	font-weight: bolder;

}

body {
	border: 10px solid white;
	height: 600px;
	margin: 35px auto;
	max-width: 300px;
	padding: 40px 100px;
	background-image: url(../img/bg.png);
	background-size: 100%;
	font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}

mark {
	background-color: transparent;
}

footer {
	margin-top: 20px;
}

footer p {
	margin: 0;
	text-align: right;
	font-size: 20px;
}

.date {
	margin-top: 10px;
	font-size: 15px;
	font-style: oblique;
}