/* html */

/* --- */

/* header */

header {
	padding-bottom: 160px;
	border-bottom: solid 60px #ebebeb;
}

nav li {
	padding: 10px;
	margin: 0px;
}

nav a {
	padding: 10px;
	margin: 0px;
}

img#einstein{
bottom: -40px;

}

/* --- */

/* main */

.wrapper section {
	margin-bottom: 90px;
	padding-top: 60px;

}
aside{
	margin-top: 60px;

}
.button a{
	margin: 15px;
	margin-left: 0px;
	padding: 10px;

}
li#ctaTwitter {
	margin-top: 10px;
	padding-top: 20px;
	padding-left: 100px;
}

li#ctaFacebook {
	margin-top: 10px;
	padding-top: 20px;
	padding-left: 100px;
	
}

li#ctaNetlog {
	margin-top: 10px;
	padding-top: 20px;
	padding-left: 100px;
}


/* --- */

/* footer */
footer h4{
	padding: 30px;
	padding-left: 0px;
}

footer ul li {
	padding: 2px;
	padding-left: 0px;
}

/* --- */