.btn1 {
	background-color: rgb(141, 135, 135);
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	padding: 15px;
	border: black;
}

.btn1:hover {
	background-color: black;
	color: white
}

.btn2 {
	background-color: rgb(167, 56, 56);
	border: blacks;
	border-radius: 1in;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px;
	color: white;
}

.btn3 {
	background-color: rgb(141, 135, 135);
	background-image: none;
	background-repeat: inherit;
	background-color: rgb(243, 235, 235);
	background-position-x: inherit;
	background-position-y: ;
	color: black;
	display: inline-block;
	text-transform: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	padding: 5px;
}