/**
 * Layout styles for Desert Tours
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* GENERAL */

body {
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

/* ======= */

/* HEADER */
header{
	padding: 7px 20px;
	height: 217px;
}
header .wrapper{
	display: flex;
	justify-content: space-between;
}
nav ul li {
	margin: 5px;
}
#logo img{
	width: 83%;
}
/* ====== */

/* MAIN */

main {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

main.wrapper {
	padding: 0px;
}

img {
	max-width: 100%;
}
/* ====== */

/* CONTENT */
p{
	margin: 0;
}
img.visual {
	float: left;
	margin-right: 1px;
}

img.thumb {
	float: right;
}
section.left {
	padding-bottom: 27px;
}

/* ======= */

/* DOORMAT */
section.doormat_col {
	padding-bottom: 16px;
}
#newsletter.doormat_col p{
	padding-top: 5px;
	padding-top: 5px;
}

/* ======= */

/* FOOTER */
footer p {
	float: inline-end;
	padding-top: 5px;
	font-size: 11px;
}

/* ======= */

/* media  */
/* ***** */
@media(min-width:400px){
	#gallery ul {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	
	#gallery ul li {
		max-width: 46%;
	}
}
@media (min-width: 550px) {
	.mobile-only {
	  display: none;
	}
	#gallery ul li {
		max-width: 23%;
	}
	footer p {
		float: inline-end;
		padding-top: 5px;
		font-size: 12px;
	}

  }
  @media (min-width: 700px) {
	header .wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	header{
		padding: 7px 20px;
		height: 89px;
	}
	
	section.left {
		width: 63%;
		padding-bottom: 0;
	}
	aside.right {
		width: 32%;
	}
	aside.right {
		width: 32%;
	}
	div#content {
		align-items: baseline;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	footer .wrapper {
		display: flex;
		justify-content: space-between;
	}
	nav ul li {
		display: inline-block;
		margin: 5px;
	}
  }
  @media (min-width: 900px) {
	div#doormat .wrapper {
		display: flex;
		padding-right: 60px;
		justify-content: space-between;
	}
	
	section.doormat_col {
		justify-content: space-between;
	}
  }