/**
 * Layout styles for Desert Tours
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* GENERAL */

body {
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

/* ======= */

/* HEADER */

header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	display: inline-block;
	margin: 5px;
}

/* ====== */

/* MAIN */

main {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

img {
	max-width: 100%;
}

#gallery ul {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#gallery ul li {
	max-width: 23%;
}

/* ====== */

/* CONTENT */

/*  ##F */

div#content {
	align-items: baseline;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

aside.left {
	max-width: 65%;
}

aside.right {
	max-width: 35%;
}

img.visual {
	float: left
}

img.thumb {
	float: right;
}

/* ======= */

/* DOORMAT */

div#doormat .wrapper {
	display: flex;
	padding-right: 60px;
	justify-content: space-between;
}

section.doormat_col {
	justify-content: space-between;
}

/* ======= */

/* FOOTER */

footer .wrapper {
	display: flex;
	justify-content: space-between;
}

footer p {
	float: inline-end;
}

/* ======= */